

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  
}

body {
  width: 920px;
  margin:  auto;
  background-image: url(img/fondo7.jpg); 
  background-size: cover;
  background-position: center;

}

h1 {
  font-family: 'Ink Free', cursive;
  color: white;
  -webkit-text-stroke: 0.1px black;
  text-shadow: white 5px 5px;
  
  
}

h2
{
  font-family: 'Ink Free', cursive;
  color: white;
  -webkit-text-stroke: 0.1px white;
  text-shadow: black 6px 7px;
  
  
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
  
  
}

header p {
  font-family: 'Ink Free', cursive;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: white;
  
}

/* section styles */

section article {
  width: 33%;
  float: left;
  
}

section p {
  font-family: 'Ink Free', cursive;
  margin: 10px 0;
  color: white;
  
}

section ul {
  font-family: 'Ink Free', cursive;
  margin-top: 0;
  color: white;
 
}

h2 {
  
  font-size: 2.6rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
  
  
}

a{
  font-family: 'Ink Free', cursive;
  font-size: 1.9rem;
  color:white;
  position: relative;
  left: 1030px;
  -webkit-text-stroke: 0.1px white;
  text-shadow: black 7px 4px;
  
}

